<!-- banner -->
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" *ngFor="let b of bannerResult; let i=index"
        [ngClass]="{active:i===1}">
        <img class="d-block w-100" src="https://image.tmdb.org/t/p/original/{{b.backdrop_path}}" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{b.original_title}}</h2>
          <p>{{b.overview}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="" role="button" data-slide="prev" hidden>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Previous</span> -->
    </a>
    <a class="carousel-control-next" href="" role="button" data-slide="next" hidden>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Next</span> -->
    </a>
  </div>

</div>
<!-- banner -->

<div class="container mt-3 mb-5 p-4">
  <!-- trending  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Trending Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of trendingMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- trending  -->

  <!-- action  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Action Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of actionMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- action  -->

  <!-- adventure  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Adventure Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of adventureMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- adventure  -->

  <!-- comedy  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Comedy Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of comedyMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- comedy  -->

  <!-- animation  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Animation Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of animationMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- animation  -->

  <!-- documentary  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Documentary Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of documentaryMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- documentary  -->

  <!-- sciencefiction  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Science-Fiction Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of sciencefictionMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- sciencefiction  -->

  <!-- thriller  -->
  <div class="row mt-4">
    <h5 class="text-white">
      Thriller Movies
    </h5>
    <div class="rowposter mt-3">
      <ng-container *ngFor="let t of thrillerMovieResult">
        <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
  <!-- thriller  -->
</div>